body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-clique {
  width: 90vw;
  max-width: 600px;
  height: auto;
  cursor: pointer;
  transition: opacity 0.8s ease;
}
