body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal-container {
    width: 90vw;
    height: auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.imagem-clique {
    width: 100%;
    height: auto;
    cursor: pointer;
    animation: revelar 1s ease;
}

@keyframes revelar {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
